.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(0.18rem);
}

.myModalContent {
    padding: 1.5625rem;
    background: #ffffff;
    border-radius: 1rem;
    min-width: 15.625rem;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.modal-enter {*/
/*    opacity: 0;*/
/*    transform: scale(0.5);*/
/*}*/

/*.modal-enter-active {*/
/*    opacity: 1;*/
/*    transform: scale(1);*/
/*    transition: all 500ms ease-in-out;*/
/*}*/

/*.modal-exit {*/
/*    opacity: 1;*/
/*    transform: scale(1);*/
/*}*/

/*.modal-exit-active {*/
/*    opacity: 0;*/
/*    transform: scale(0.5);*/
/*    transition: all 500ms ease-in-out;*/
/*}*/
