* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App {
    width: 30rem;
}

.post__btns{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.post {
    display: flex;
    padding: 1.2rem;
    border: 2px solid green;
    margin-top: .9rem;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    opacity: 0;
    transform: translateY(50px);
}

.post-enter-active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 300ms ease-out;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateY(50px);
    opacity: 0;
    transition: all 300ms ease-out;
}

.page-wrapper{
    margin-top: 30px;
    display: flex;
    gap: .3rem;
}

.page{
    padding: 10px;
    border: 2px solid green;
    cursor: pointer;
}

.page_current{
    background-color: rgba(154, 205, 50, 0.73);
    font-weight: bold;
}

.navbar{
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: rgba(154, 205, 50, 0.73);
}

.navbar__links {
    margin-left: auto;
}